<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Client App Demo</title>
    </head>

    <body data-logger-documentevents="resize,blur,focus,visibilitychange">
        <h1>Library Test</h1>
        Testing a more formal way to create a JS library.
        

        <hr />

        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        
        <div style="height: 100px; border: 5px solid red;" data-logger-capture="mouseover,mouseout,click">
            Some div!
        </div>


    </body>
    <script src="{% static 'logger/logger.js' %}"></script>
    <script>
        let authData = {
                'appID': 'theAppID',
                'flightID': 'theFlightID',
                'username': 'theUsername',
            };
        
        // Assume that we can get this string from somewhere else, and it is also encrypted.
        let encodedAuth = btoa(JSON.stringify(authData));

        Logger.init({
            'bubble': 'custom',
            'endpoint': '127.0.0.1:8000/ws/log/',
            'verbose': true,
            'sendQueueMaxSize': 10,
            'authString': encodedAuth,
        });
    </script>
</html>