<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Client App Demo</title>
        <style>
            div#outerdiv {
                margin-top: 50px;
                border: 5px solid red;
            }

            div#innerdiv {
                margin-top: 50px;
                height: 150px;
                border: 5px solid green;
            }
        </style>
    </head>

    <body data-logger-documentevents="resize,blur,focus,visibilitychange">
        <h1>Library Test</h1>
        Testing a more formal way to create a JS library.
        

        <hr />

        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        
        <div id="outerdiv" data-logger-capture="mouseover,mouseout">
            Outer DIV

            <div id="innerdiv" data-logger-capture="mouseover,mouseout,click">
                Inner DIV
            </div>
        </div>


    </body>
    <script src="{% static 'logger/logger.js' %}"></script>
    <script>
        let authData = {
            'appID': 'theAppID',
            'flightID': 'theFlightID',
            };
        
        let appSpecific = {
            'condition': 1,
            'rotation': 3,
            'interface': 4,
        }
        
        // Assume that we can get this string from somewhere else, and it is also encrypted.
        let encodedAuth = btoa(JSON.stringify(authData));

        Logger.init({
            'endpoint': '127.0.0.1:8000/ws/log/',
            'verbose': true,
            'sendQueueMaxSize': 10,
            'authString': encodedAuth,
            'appSpecific': appSpecific,
        });
    </script>
</html>